<template name="projects">
  <div id="projects" class="box">
    <h1 class="box-heading">Proyectos</h1>
    <div class="project">
      <img src="/images/proyecto1.jpg">
      <h2>Heading</h2>
      <p>Dec 2015</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula luctus condimentum. In a sem velit. Morbi bibendum finibus semper. Suspendisse vel nulla vestibulum, auctor quam vitae, semper leo. Curabitur vitae turpis pellentesque, congue est eget, ultrices leo. </p>
    </div>

    <hr>

    <div class="project">
      <img src="/images/proyecto2.jpg">
      <h2>Heading Proyecto 2</h2>
      <p>Dec 2015</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula luctus condimentum. In a sem velit. Morbi bibendum finibus semper. Suspendisse vel nulla vestibulum, auctor quam vitae, semper leo. Curabitur vitae turpis pellentesque, congue est eget, ultrices leo. </p>
    </div>
  </div>
</template>